/*general selectors*/
*{
	margin: 0;
	padding: 0;
}

.center{
	text-align: center;
}

strong{
	background-color: #70D0C3;
}

a{
	color: #FE001A;
	text-decoration: none;
}

/*header*/

header{
	height: 500px;
	width: 100%;
	background-color: #7451eb;
	display: flex;
	
}

#presentation{
	width: 50%;
	justify-content: justify;
	height: 100%;
	padding-left: 20px;
}

#image{
	width: 50%;
}

header div h1{
	margin-top: 120px;
	color: #C3C4C4;
	font-size: 3em;
	font-family: 'PT Serif', serif;
	
}

header div h2{
	padding-top: 20px;
	font-size: 2em;
}

header div p{
	padding-top: 40px;
	font-weight: bold;
	font-size: 1.5em;
	color: #E8F7FD;
}

header div img{
	height: 75%;
	position: relative;
	left: 30%;
	top: 25%;
	border-radius: 15%;
}

/*main_section*/

#main_section{
	height: 720px;
	display: flex;
	margin-top: 20px;

}

#icon{
	width: 40%;
	height: 100%;
}
#java{
	position: relative;
	top: 20%;
	height: 50%;
}

#competences{
	height: 100%;
	width: 60%;
	padding: 120px 50px 0;
	justify-content: justify;
	font-size: 1.2em;
	font-family: 'Libre Baskerville', serif;
}

#main_section #competences h1{
	padding-bottom: 30px;
}

#main_section #competences p{
	padding: 10px 0;
}

#main_section #competences ul li{
	list-style-type: none;
	padding: 5px 0;
}

/*footer*/

footer{
	height: 400px;
	margin-top: 20px;
	background-color: #4021A6;
	text-align: center;
}

footer h1{
	padding: 60px 0 30px;
	font-size: 2.5em;
}

footer p{
	color: #FDFEFE;
	font-size: 1.7em;
}

.icon{
	height: 50px;
	width: 50px;
	margin: 30px 20px;
}